doctype html
html
  head
    title= website.title
    link(rel='stylesheet', href=`${domain}/css/main.css`)
    link(rel='stylesheet', href='https://cdn.bootcss.com/highlight.js/9.12.0/styles/github.min.css')
    script(src='https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js')
  body
    div.main
      div.sidebar
        div.logo-container
          img(src='http://fehey.com/images/avatar.jpg', class='logo')
          h1= website.title
        div.menu
          ul
            li
              a(class='active' href=`${domain}/`) 首页
            each menu in website.menus
              li
                a(href=`${domain}/${menu.link}/`)= menu.name
        div.footer Powered by Hve.Designed by fehey.
      div.container
        block content
    
    script hljs.initHighlightingOnLoad()
